[Unit]
Description=QWEIO BACnet Service
After=network.target network-online.target

[Service]
Type=simple
KillMode=process
TimeoutStartSec=0
WorkingDirectory=/app/bacnet
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/java -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:+UseContainerSupport -XX:+UseSerialGC -XX:+TieredCompilation -XX:TieredStopAtLevel=1 -XX:MaxRAM=300m -XX:MinRAMPercentage=20.0 -XX:MaxRAMPercentage=80.0 -Xss256k -XX:ActiveProcessorCount=0 -Dvertx.blockedThreadCheckInterval=1 -Dvertx.blockedThreadCheckIntervalUnit=SECONDS -Dvertx.maxEventLoopExecuteTime=2 -Dvertx.maxEventLoopExecuteTimeUnit=SECONDS -Dvertx.maxWorkerExecuteTime=120 -Dvertx.maxWorkerExecuteTimeUnit=SECONDS -Dvertx.warningExceptionTime=3 -Dvertx.warningExceptionTimeUnit=SECONDS -jar {{project}}.jar -conf conf/bacnet.json

[Install]
WantedBy=default.target
